# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
.coverage/
coverage/

# Production
build/
dist/
.next/
out/

# Misc
.DS_Store
*.log
*.swp
*.swo
*~

# IDE
.vscode/
.idea/
*.iml

# Environment
.env
.env.local
.env.*.local
